html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 3rem;
  padding: 0% 1% 0% 1%;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

p {
  font-size: 1.4rem;
  padding: 0% 3% 4% 3%;
}

.nasaPhoto {
  width: 700px;
  height: 500px;
  padding-top: 3%;
}
